
table{
  font-size: 20px;
  width: 50%;
  background-color:  #f2f2f2;
  margin-left: 25%;
  

}
th{
  background-color:  rgb(124, 124, 214) ;
}
td{
  border: 0.2px solid;
  padding-left: 10px;
  
}

* {box-sizing: border-box}
b{
  color: red;
}
/* input[type=text],  */
.tfoot{
  margin-bottom: 20px;
  border-right: none;
  margin-right: 0px;
}

input[type=password], input[type=email] {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=number]{
  display: inline-block;
  margin-right: 1000px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

label {
  font-size: 20px;
}
h3{
  margin-left: 10px;
}

.registration-caption {
  margin: 2%;
}

.registration-form {
  padding: 4px;
  border: 2px solid; 
  margin: 2% 20%;
  /* width: 50%;
  height:  2% 30% 2% 25%; */
  /* max-width: 20%;
  margin: 2% 10% 0 25%;
  
  /* text-align: center; */
}

.registration-button {
  /* border: 1px solid;
  border-radius: 15px;
  background-color: orange;
  color: white;
  font-size: 25px;
  padding: 2% 20%; */
  margin: 5px 0 22px 0;
  font-size: 25px;
  background-color: rgb(124, 124, 214);
  color: white;
  padding: 16px 0;
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 4px;
}

.required:after {
  /* font-size: 35px; */
  content:" *";
  color: red;
}

.registration-button:hover {
  opacity:2;

}

.loginContainer {
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.loginPasswordInput {
  margin-bottom: 2%;
}
.shoppingCartIcon{
  font-size: 30px;
  color: white;
  margin-right: 25px;
  font-size: 20px;
  display: inline-block;
 
}
.shoppingCartIcon:hover{
  font-size: 23px;
}

.productContainer {
  position: relative;
  border-radius: 10px;
  display: inline-block;
  width:200px;
  height:320px;
  border-left:0.5px solid;
  border-right: 0.5px solid;
  margin: 2% 1%;
  /* padding: 2px; */

}
.productContainer:hover {
  border: 2px solid rgb(124, 124, 214);;
  
}

.productContainer:hover .tooltipText{
  opacity: 1;
  visibility: visible;
 border: 2px solid  rgb(124, 124, 214);

}





.backButton{
  margin-left: 20px;
  font-size: 25px;
}
.fontstyle:hover{
  font-size: 26px;
}

.cart-button {
  background-color: rgb(124, 124, 214);
  border: 1px solid;
  color: white;
  padding: 8px;
  border: none;
  max-width: 500px;
  max-height: 700%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  margin: 3%; 
  
  /* border: 1px solid;
  text-align: center; */
  /* border-radius: 10px; */
  /* padding: 2px 35px; */
  /* margin: 3%; */
  /* background-color: darkorange; */
}
/* .checkingBox{
  padding: 5px;
  margin: 7%;
  background-color: yellow;
} */

.cart-button:hover {
  /* opacity: 1; */
  background-color: rgb(124, 124, 214);
  /* background-color: rgb(124, 124, 214);
  border: 2px solid;
  border-color: black;
  color: white; */
  
  /* background-color: darkkhaki; */
  /* color: white; */
}

.single-price {
  background-color: rgb(54, 219, 234);
  /* color: white; */
  width: 170px;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  margin-top: 3px;
}

.navbar{
  background-color: rgb(124, 124, 214);
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.navigationLink{
  display: inline-block;
/* background-color: brown; */
  margin: 1% ;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

.navigationLink:hover{
 font-size: 20px;
 border-bottom: 2px solid;
 box-shadow: 2px rgb(124, 124, 214); 
}
.linkTo{
color:  white;
}
.linkTo:hover{
  color: aqua;
}
.firstList-title{
  cursor: pointer;
  font-size: 50px;
  font-family: fantasy;
  color: white;
  margin-right: 20%;
  margin-top: 0px;
  display: inline-block;
  /* background-color: crimson; */
}
.toast{
  margin: 0;
}
.welcomeText{
  padding: 5px;
  background-color: aqua;
  text-align: center;
}
/* .productPAge-Title{
  background-color: rgb(124, 124, 214);
  padding: 5px;
  margin-bottom: 2%;
} */
.user-Navbar{
  display: inline-block;
  margin-right: 55%;
}
.cartAndLogout{
  margin-right: 2%;
}
.cartNavigationBAr{
  background-color:  rgb(124, 124, 214);
  padding: 2%;
}
.cartLogout{
  margin-left: 85%;
}
.productImage{
  margin-left: 50px;
  height: 120px;
  width: 120px;
}
.product-form{
  /* border: 2px solid red; */
  width: 200px;
  height: 380px;
  display: inline-block;
  margin-left: 25px;
}
.product-description{
 
  width: 100%;
  height: 20px;
}

 /* CHECKOUT PAGE PAGE STYLE*/
.billingAndPayment{
  background-color: #f2f2f2;
  width: 50%;
  padding: 2% 5% 0% 5%;
  display: -ms-flexbox; /* IE10 */
  display: inline-block;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-left: 25%;
}
.payement{
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  padding: 0 32px;
  /* background-color: #f2f2f2;
  padding: 5px 70px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px; */
}
.productsContainer{
  width: 50%;
  background-color:  #f2f2f2;
  margin-bottom: 2%;
  padding: 2% 5% 7% 5%;
  display: -ms-flexbox;
  display: inline-block;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  
  
}

.price {
  display: inline-block;
/* margin-left: 2%; */
margin-left: 300px;
  /* float: right;
  color: grey; */
}
input{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.shoppingCart{
  border: 2px solid #04AA6D;
  text-align: center;
  padding-left: 0px;
  /* margin-right: 2%;
  padding-right: 20px; */
}
label {
  margin-bottom: 10px;
  display: block;
}
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 10px 10px 20px;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}
.h3Header{
  text-align: center;
}
.personalInfo{
  margin: 10%;
}
.numberOfItems{
  margin-right: 20%;
}
.ProductsInTheCart{
  display: inline-block;
  /* border: 1px salmon solid; */
}
.prices{
  margin-left: 270px;
}
.TotalPrice{
  margin-left: 330px;
}
.productsContainer{
  margin-top:15px ;
  margin-left: 25%;
  padding-bottom: 30px;
}
.checkoutTitle{
  display: inline-block;
  padding: 20px;
  background-color: #f2f2f2;
  color: black;
  font-size: 35px;
  text-align: center;
  margin-left: 30%;
}
.checkLabel {
  margin-top: 15px;
  display: flex;
  align-items: center; /* Vertically centers the checkbox and text */
  gap: 8px; /* Adjusts spacing between the checkbox and the text */
  font-size: 16px; /* Optional: Adjust text size as needed */
  cursor: pointer; /* Makes the text clickable along with the checkbox */
}

.checkText {
  width: 16px; /* Default checkbox width */
  height: 16px; /* Default checkbox height */
  cursor: pointer; /* Pointer cursor for better UX */
}
.fa-user, .fa-right-to-bracket{
  margin-right: 1px;
  color: white;
  font-size: 25px;
}
.cartItemContainer{
  box-shadow: 2px 1px green;
  padding: 5px 25px;
  border-left: 2px solid;
  border-bottom: 1px;
  margin: 10px;
}
.addBnt{
  margin: 20px;
}
.remove-button{
  padding: 8px 25px;
  color: red;
  font-size: 20px;
  margin-left: 12%;
}
.imageContainer{
  padding-right: 25px;
  border: 1px solid;
  max-width:  100%;
  max-height: 100%;
}
.productDescription{
  /* border: 1px solid red; */
  margin-left: 6px ;
  width: 200px;
}
.ProductCheckoutName{
  margin-right: 300px;
}
.ProductCheckoutPrice{
  margin-bottom: 5px;
}
.search-input{
  border-right: none;
  font-size: 20px;
  margin-left: 45px;
  width: 70%;
  height: 40px;
}
.search-product-button{
  background-color: rgb(124, 124, 214);
  border: none;
  cursor:pointer;
  font-size: 20px;
  height: 40px;
  width: 80px;
}
.ProcedToCheckOut{
  color: white;
  background-color: #1F75FE;
  border: 1px solid rgba(227, 193, 37, 0.796);
  cursor:pointer;
  width:100%;
  padding: 15px 5px 8px 2px;
  margin-bottom: 20px;
 font-size: 22px;
}
.ProcedToCheckOut:hover{
  background-color: #04398e;



}
.backToCart{
  margin-left: 10px;
  font-size: 20px;
}
.cartImage{
  margin-right: 20px;
  border: 1px solid white;
  width: 100px;
  float: left;
}
.cartItemPrice{
  background-color: rgb(54, 219, 234);
  color: red;
  margin-left: 50px;
  margin-top: 60px;
  width: 120px;
  /* height: 40px; */
  padding: 7px;
}
.quantityInput{
  width: 75px;
  margin-bottom: 0;
}
.cartQuantityTitle{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
  display: inline-block;
}
.updateQuantityButton{
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 90px;
}


.detailsButton {
  margin-left: 70%;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background:  rgb(124, 124, 214);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.detailsButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.detailsButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:  rgb(124, 124, 214);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.productDetailImage{
  box-shadow: 5px 2px 5px 10px #888888;
  border: 2px solid yellowgreen;
  border-radius: 30px;
  margin-right: 35px;
  margin-bottom: 10px;
  float: left;
  width: 350px;
  height: 350px;
}

.detailsContainer{
  background-color: rgb(213, 213, 243);;
  padding: 130px 25px;
  /* border-left: 2px solid; */
 
  margin: 10px;
}
.displayDetailsPrice{
 text-align: center;
  margin-bottom: 60px;
  margin-right: 500%;
  width: 50%;
  margin-left: 20%;
  color: red;
  font-size: 25px;
}
.detailsButton{
  border-radius: 30px;
  /* margin-top: 120px; */
  margin-left: 5px;
  padding: 15px;
  height: 50px;
  width: 200px;
  border: 1px solid;
 
  font-size: 15px;
  cursor: pointer;
}

.imageContainer{
  border: 2px solid red;
  padding: 20px;
}


.ProductDetailName{
  margin-bottom: 5px;
  text-align: center;
}
.detailsAddTocart{
margin-bottom: 50px;
margin-left: 10px;
  background-color: rgb(124, 124, 214);
  color: white;
}
.detailsShopNow{
  background-color: yellow;
  margin-left: 10px;
  
}
.detailsAddTocart:hover{
  background-color:  rgb(192, 192, 243);
  font-size: 15px;
}
.detailsShopNow:hover{
  background-color: rgb(246, 246, 143);
  font-size: 15px;
}
.ProductDetailsDescription{
  font-size: 20px;
  margin-bottom: 120px;
  margin-top: 20px;
}

/* STRIP INTEGRETION CSS */
.stripPaymentBody {
  display: flex;
  justify-content: center;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  flex-direction: column;
  width: 400px;
  height: 112px;
  border-radius: 6px;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
#checkout {
  width: 100vw;
}
.tooltipText{
  visibility: hidden;
  background-color: #1F75FE;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 8px;
  position: absolute;
  z-index: 10;
  bottom: 100%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}
.buttonContainer{
  text-align: center;
  
}